 <!DOCTYPE html>
<html lang="en">
  <head>
 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Status Tracker</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
   <link rel="icon" href="{{ url_for('static', filename = 'images/GAP.gif') }}">
	<style>
	
.nab{
  z-index: 9999;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.nab a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nab a:hover {
 padding-top: 21px;
  background:white;
  color: black;
}

.anda{
float:right;
}

	.nav
	{
	position: fixed;
	}
.ab a:hover{
	 padding-top: 13px;
	color:white;
	background-color: black;
	}
	.btn-group  {
	 margin-left: 500px;
	 }
	.btn-group button {
  background-color: #FFFFCC; 
  border: 1px solid green;
  color: black; 
  padding: 5px 10px; 
  cursor: pointer; 
  float: left;
 
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #FFCC66;
}
.tim a {
  margin-left: 180px;
  float:left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.tim a:hover {
 padding: 14px 16px;
  background:white;
  color: orange;
}
 	
.card{
margin-left: 90px;
}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script  type="text/javascript">
function noBack() { window.history.forward(); }
    noBack();
window.onload = function () {
noBack;
 document.getElementById("switch_11").style.background= "#FFCC66";
 document.getElementById("switch_21").style.background= "#FFCC66";
function getRandomColor(st) {
	if(st== 'Done')
	{
	   color="green";
	}
	else if(st== 'In Progress')
	{
	   color="yellow";
	}
	else if(st== 'Backlog')
	{
	   color="red";
	}
	else if(st== 'Rejected')
	{
	   color="black";
	}
	else if(st== 'Waiting/Ready for Validation')
	{
	   color="pink";
	}
	else if(st== 'Signoff')
	{
	   color="blue";
	}
	else
	{
	var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
	}
    return color;
}

var ctx2 = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx2, {
type: 'bar',
    data: {
        labels: [{% for item in a %}
             "{{item}}",
            {% endfor %}],
        datasets: [{
            label: 'No.of Stories',
            data: [{% for item in b %}
             {{item}},
            {% endfor %}],
            backgroundColor:  'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    },
	 options: {
	 
	  title: {
            display: true,
            text: 'Time-period: {{t1}} to {{t2}}'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
$("#switch_11").click(function () {
document.getElementById("switch_11").style.background= "#FFCC66";
 document.getElementById("switch_12").style.background= "#FFFFCC";
		var data2 = myChart2.data;
		var op2 = myChart2.options;
		data2.labels= [{% for item in a %}
             "{{item}}",
            {% endfor %}];
		data2.datasets= [{
            label: 'No.of Stories',
            data: [{% for item in b %}
             {{item}},
            {% endfor %}],
            backgroundColor:  'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }];
		 op2.title={display: true, text:'Time-period: {{t1}} to {{t2}} '};
		myChart2.update();
      });
$("#switch_12").click(function () {
document.getElementById("switch_11").style.background= "#FFFFCC";
document.getElementById("switch_12").style.background= "#FFCC66";
			var data2 = myChart2.data;
			var op2= myChart2.options;
		data2.labels= [{% for item in r4 %}
             "{{item}}",
            {% endfor %}];
		data2.datasets= [{
            label: 'No.of Stories',
            data: [{% for item in s4 %}
             {{item}},
            {% endfor %}],
            backgroundColor:  'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }];
		op2.title={display: true, text:'Time-period: {{t11}} to {{t22}} '};
		myChart2.update();
      });
var ctx3 = document.getElementById('myChart3').getContext('2d');
var myChart3 = new Chart(ctx3, {
    type: 'bar',
    data: {
        labels: [{% for item in a %}
             "{{item}}",
            {% endfor %}],
        datasets: [     {% for x in ye %}
		                  { 
						  label: '{{x[0]}}',
                           data: [{% for item in x if item is number %}
                                  {{item}},
                        {% endfor %}],
						   backgroundColor: getRandomColor('{{x[0]}}'),
						   borderWidth: 1
                          },
						  
				        {% endfor %}   
		          ]
          },
    options: {
	
	  title: {
            display: true,
            text: 'Time-period: {{t1}} to {{t2}}'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
$("#switch_21").click(function () {
document.getElementById("switch_21").style.background= "#FFCC66";
 document.getElementById("switch_22").style.background= "#FFFFCC";
		var data3 = myChart3.data;
		var op3 = myChart3.options;
		data3.labels= [{% for item in a %}
             "{{item}}",
            {% endfor %}];
        data3.datasets=[     {% for x in ye %}
		                  { 
						  label: '{{x[0]}}',
                           data: [{% for item in x if item is number %}
                                  {{item}},
                        {% endfor %}],
						   backgroundColor: getRandomColor('{{x[0]}}'),
						   borderWidth: 1
                          },
						  
				        {% endfor %}   
		          ];
				   op3.title={display: true, text:'Time-period: {{t1}} to {{t2}} '};
		myChart3.update();
      });
$("#switch_22").click(function () {
document.getElementById("switch_21").style.background= "#FFFFCC";
document.getElementById("switch_22").style.background= "#FFCC66";
		var data3 = myChart3.data;
		var op3 = myChart3.options;
		data3.labels= [{% for item in r4 %}
             "{{item}}",
            {% endfor %}];
        data3.datasets=[     {% for x in ya %}
		                  { 
						  label: '{{x[0]}}',
                           data: [{% for item in x if item is number %}
                                  {{item}},
                        {% endfor %}],
						   backgroundColor: getRandomColor('{{x[0]}}'),
						   borderWidth: 1
                          },
						  
				        {% endfor %}   
		          ];
		op3.title={display: true, text:'Time-period: {{t11}} to {{t22}} '};
		myChart3.update();
      });
}
window.onpageshow = function (evt) { if (evt.persisted) noBack(); }
    window.onunload = function () { void (0); }
</script>
  </head>
  <body>
    <div class="container-scroller">
<div class="nab">

<div class="ab">
<a href=" " ><img src="{{ url_for('static', filename = 'images/GAP.gif') }}", width="50" height="50"></a>
<a href=" " ><h2>{{u}}: Release Report </h2></a>  
</div> 
 
  <div  class="anda">
    <a  ><h4> </h4></a>
  <a href="../pro" ><b><font color= "#FFCC66">Home</font></b></a>
   <a href=".." ><b><font color= "#FFCC66">Log Out</font></b></a>
   <a  ><h4> </h4></a>
  <a href="#stories" ><h4>Stories</h4></a>
  <a href="#sta" ><h4>Status</h4></a>
  
   <a  ><h4> </h4></a>
     </div>
</div>	 
	  <!-- ---------------------------------------------------------------------------------------------------------------------------    -->
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
	  <!-- ---------------------------------------------------------------------------------------------------------------------------    -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav"> 
		  		 <li class="nav-item nav-category"></li>
		   <li class="nav-item nav-category"></li>
		  <li class="nav-item nav-category"></li>	
		  
            <li class="nav-item nav-category">Main Menu</li>

            <li class="nav-item">
              <a class="nav-link" href="../index">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
			
			<li class="nav-item">
              <a class="nav-link" href=" ../assi">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Assignee Report</span>
              </a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="../sta">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Story Status Report</span>
              </a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="../rel">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Releases Report</span>
              </a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="../epic">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Epic Report</span>
              </a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="../story ">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Stories Report</span>
              </a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="../table">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Tables</span>
              </a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="../doc">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Documentation</span>
              </a>
            </li>
			
          </ul>
        </nav>
		<!-- ---------------------------------------------------------------------------------------------------------------------------    -->
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
			<!-- ---------------------------------------------------------------------------------------------------------------------------    -->
          
			<div  id="stories"></br></br></br></div>
			  <div class="row">
              <div class="col-md-10 grid-margin streth-card" >
                <div class="card">
                  <div class="card-body">
				  <div class="btn-group">
				   <?php 
      if(!isset($_SESSION['logged_in'])) : 
      echo "Session variables are set.";
?>
                    <button id="switch_11">Selected Time</button>
                    <button id="switch_12"title="Time duration: Start_date of project - till today ">Overall</button>
                     </div>
                    <h2 class="card-title mb-0">Releases Vs No. of Stories Overview</h2>
                    <div class="d-flex flex-column flex-lg-row">
                      <p>No. of stories assigned are plotted for each fix-version</p>
					    <div class="tim"> <a href="../pro"> Change Time Period </a>  </div>
                    </div>
				   <canvas id="myChart2" width="400" height="200"></canvas>
                  </div>
                </div>
              </div>
              
            </div>
			<div  id="sta"></br></br></br></div>
			  <div class="row">
              <div class="col-md-10 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
				  <div class="btn-group">
                    <button id="switch_21">Selected Time</button>
                    <button id="switch_22"title="Time duration: Start_date of project - till today ">Overall</button>
                     </div>
                    <h2 class="card-title mb-0">Releases Vs No. of Stories for each Status</h2>
                    <div class="d-flex flex-column flex-lg-row">
                      <p>Total no. of stories are plotted for each fix-version</p>
					    <div class="tim"> <a href="../pro"> Change Time Period </a>  </div>
                    </div>
				   <canvas id="myChart3" width="400" height="200"></canvas>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          
        </div>
        <!-- main-panel ends -->
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
      <script src = "{{ url_for('static', filename = 'js/vendor.bundle.base.js') }}" ></script>
	         <script src = "{{ url_for('static', filename = 'js/misc.js') }}" ></script>
  </body>
</html>